
@media (min-width: 1000px) {
    .container{
        max-width: 1100px;
    }
}

body {
    padding-top: 67px;
    overflow-x: hidden
}

p {
    font-size: 18px;
    text-indent: 40px;
}

figure {
    display: inline-block;
    margin: 20px;
}

figure img {
    vertical-align: top;
}

/* figure figcaption {
    text-align: center;
    vertical-align: middle;
    display: table-caption;
    caption-side: bottom;
} */

.jumbotron {
    height: 950vh;
    margin-bottom: 0rem;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.topNavBar {
    background-color: #005a87;
}

.card {
    padding: 50px;
    background-color: #005a87;
    color: #fff;
    width: 100vw;
    height: 405px !important;
    border-radius: 0 !important;
}

a {
    color: #fff
}

a:hover {
    color: #fff
}

.box {
    margin-bottom: 60px;
    margin-top: 20px
}

.form-control {
    border: none;
    margin-left: 0;
    background-color: #005a87;
    color: #fff
}

input {
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important
}

::-webkit-input-placeholder {
    color: #E1F5FE !important
}

::-moz-placeholder {
    color: #E1F5FE !important
}

:-ms-input-placeholder {
    color: #E1F5FE !important
}

:-moz-placeholder {
    color: #E1F5FE !important
}

.form-head {
    padding-left: 10px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px
}

.custom-control-label {
    font-size: 14px !important
}

.get-input {
    padding-left: 0
}

button {
    color: white !important;
    font-weight: bold !important;
    padding: 10px 20px 10px 20px !important;
    border-radius: 0 !important
}

button:hover {
    color: white !important;
    background-color: #fff
}